.wrapper
  width: 1200px
  margin: 0 auto

.clearfx::after
  display: block
  content: ""
  clear: both

.header__logo
  width: 160px
  color: #31353e
  font-family: "Roboto Slab"
  font-size: 36px
  font-weight: 700
  line-height: 36px

.header
  background-color: #edeff1
  min-height: 150px
  display: flex

  .wrapper
    display: flex
    align-items: center
    justify-content: space-between

.nav
  margin: 0
  padding: 0
  font-size: 0

  li
    display: inline-block

  a
    font-family: "Roboto Slab"
    font-size: 18px
    font-weight: 400
    line-height: 24px
    color: #31353e
    display: block
    padding: 10px 20px
    text-decoration: none

.nav__active
  border-radius: 24px
  background-color: #dd4b2b

.promo
  background: #edeff1 url("../img/pic/promo_bg.jpg") top center no-repeat
  color: #ffffff
  font-family: "Roboto Slab"
  text-align: center
  padding-top: 380px
  padding-bottom: 135px

  p
    font-family: Roboto

  .wrapper
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: center

.promo__title
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4)
  line-height: 48px
  font-size: 30px
  font-weight: 700
  margin-bottom: 120px

  strong
    font-size: 72px
    font-weight: 300

.promo__item
  width: 330px
  font-size: 30px
  line-height: 24px

  p
    font-family: Roboto
    font-size: 15px
    font-weight: 300
    line-height: 30px

.promo__features
  display: flex
  justify-content: space-around
  margin-bottom: 80px
  width: 100%

.promo__btn
  font-size: 18px
  color: #612316
  font-weight: 400
  line-height: 30px
  text-decoration: none
  display: block
  padding: 20px 60px
  background-color: #ffffff
  border-radius: 40px

body
  margin: 0

.news
  background-color: #edeff1

  h3
    width: 100%
    color: #31353e
    font-family: "Roboto Slab"
    font-size: 30px
    font-weight: 700
    line-height: 24px
    text-align: center
    margin: 80px auto

  .wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-around

.news__item
  width: 370px
  color: #31353e
  line-height: 30px
  font-family: "Roboto"
  font-size: 15px
  font-weight: 300
  text-align: center
  margin-bottom: 100px

  img
    margin-bottom: 40px

  strong
    font-family: "Roboto Slab"
    font-size: 24px
    font-weight: 700

  a
    display: inline-block
    margin-top: 40px
    padding: 20px 50px
    color: #4e5159
    font-family: "Roboto"
    font-size: 15px
    font-weight: 300
    line-height: 30px
    text-decoration: none
    border-radius: 40px
    border: 1px solid rgba(255, 255, 255, 0.5)
    background-color: #ffffff

.newsletter
  background: #edeff1 url("../img/pic/newsletter_bg.jpg") top center no-repeat
  text-align: center
  color: #ffffff
  padding-top: 90px
  padding-bottom: 40px

  h3
    font-family: "Roboto Slab"
    font-size: 30px
    font-weight: 700
    line-height: 48px
    margin: 0
    margin-bottom: 20px

  p
    font-family: "Roboto"
    font-size: 15px
    font-weight: 300
    line-height: 24px
    max-width: 530px
    margin: auto
    margin-bottom: 40px

  input
    width: 300px
    padding: 20px 30px
    border-radius: 40px
    border: 1px solid rgba(255, 255, 255, 0.5)
    background-color: rgba(255, 255, 255, 0.2)
    color: #f3f4f6
    font-family: "Roboto Slab"
    font-size: 18px
    font-weight: 400
    line-height: 30px

  a
    margin-left: -100px
    display: inline-block
    padding: 20px 70px
    color: #612316
    font-family: "Roboto Slab"
    font-size: 18px
    font-weight: 400
    line-height: 30px
    text-decoration: none
    border-radius: 40px
    border: 1px solid rgba(255, 255, 255, 0.5)
    background-color: #ffffff


.details
  background-color: #edeff1
  padding: 70px 0

  h2
    color: #191b29
    font-family: "Roboto Slab"
    font-size: 30px
    font-weight: 700
    line-height: 48px

  p
    color: #191b29
    font-family: "Roboto"
    font-size: 16px
    font-weight: 300
    line-height: 30px

  a
    display: inline-block
    padding: 20px 70px
    color: #ffffff
    font-family: "Roboto Slab"
    font-size: 18px
    font-weight: 400
    line-height: 30px
    text-decoration: none
    border-radius: 40px
    border: 1px solid rgba(255, 255, 255, 0.5)
    background-color: #dd4b2b

.details__pic
  width: 580px
  height: 407px
  border: 1px solid #dbdbdb

.details__content
  width: 570px

.details__item
  display: flex
  justify-content: space-between
  margin: 50px auto

.details__item:nth-child(2n)
  flex-direction: row-reverse

.footer
  background-color: #d75d0e

.footer__top .wrapper
  display: flex
  justify-content: space-around
  padding: 90px 0

  p
    width: 150px
    color: #ffffff
    font-family: "Roboto"
    font-size: 18px
    font-weight: 400
    line-height: 36px

.footer__bot
  text-align: center
  background: url("../img/pic/footer_bg.jpg") top center no-repeat
  min-height: 285px
  width: 100%
  padding-top: 85px

  p
    color: #ffffff
    font-family: "Roboto"
    font-size: 18px
    font-weight: 400
    line-height: 36px
    width: 650px
    margin: auto
