body {
  background: url("../img/background.jpg") top center no-repeat;
  font-family: 'Roboto', 'Arial', sans-serif;
  text-transform: uppercase;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.wrapper {
  width: 1130px;
  margin: 150px auto;
}

.recall {
  background: #390e2f;
  margin-bottom: 130px;
}

.recall_title {
  font-size: 36px;
  line-height: 40px;
  color: white;
  float: left;
  width: 320px;
  margin-left: 60px;
  text-align: center;
}

h3 {
  font-weight: 100;
}

h2 {
  font-size: 48px;
  line-height: 40px;
  color: #f05a24;
  font-weight: 100;
  margin-left: 50px;
}

.contact {
  width: 310px;
  float: left;
}

.contact_info {
  border-top: 1px solid #737272;
  padding-top: 30px;
  padding-right: 60px;
  text-transform: none;
  font-size: 16px;
  line-height: 30px;
}

.contact_info__address {
  position: relative;
  text-align: right;
  color: #737272;
  padding-right: 35px;
}

.contact_info__address::after {
  position: absolute;
  content: "";
  right: 0;
  top: 5px;
  width: 25px;
  height: 25px;
  background: url("../img/location_icon.png") top right no-repeat;
}

.contact_info__phone {
  position: relative;
  text-align: right;
  color: white;
  padding-right: 35px;
}

.contact_info__phone:after {
  position: absolute;
  content: "";
  right: 0;
  top: 5px;
  width: 25px;
  height: 25px;
  background:url("../img/phone_icon.png") top right no-repeat;
}

.contact_info__mail {
  position: relative;
  text-align: right;
  padding-right: 35px;
}

.contact_info__mail::after {
  position: absolute;
  content: "";
  right: 0;
  top: 5px;
  width: 25px;
  height: 25px;
  background:url("../img/mail_icon.png") top right no-repeat;
}

.contact_info__mail a {
  color: #ce7a18;
  text-decoration: none;
  text-transform: none;
  font-size: 16px;
  line-height: 30px;
}

.feedback {
  width: 780px;
  float: right;
}

.feedback_info {
  border-top: 1px solid #737272;
  padding-top: 30px;
  position: relative;
}

.feedback_info textarea {
  margin-left: 40px;
  width: 680px;
  overflow: auto;
  background-color: transparent;
  color: #737272;
  border-radius: 5px;
  border: 1px solid #737272;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 25px;
  text-transform: uppercase;
}

.feedback_info input {
  background-color: transparent;
  color: #737272;
  border-radius: 5px;
  border: 1px solid #737272;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 28px;
  text-transform: uppercase;
  width: 280px;
  margin-bottom: 30px;
}

.feedback_info input[name="name"] {
  margin-right: 50px;
  margin-left: 40px;
}

.feedback_info input[type="button"] {
  visibility: hidden;
}

.feedback_info label {
  position: absolute;;
  width: 40px;
  height: 40px;
  background: #671c56 url("../img/checkmark_icon.png") center no-repeat;
  border-radius: 20px;
  bottom: 95px;
  right: 20px;
}

.feedback_info label:hover {
  box-shadow: 0 0 10px #671c56;
}
