body {
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Bree Serif', serif;
  background-color: #f4f4f4;
}

header {
  background-color: #f4f4f4;
  font-family: 'Ubuntu', sans-serif;
}

.logo {
  float: left;
}

.search {
  float: right;
  width: 150px;
}

.navigation {
  float: left;
  width: 500px;
}

.navigation ul {
  list-style: none;
  font-size: 0;
}

.navigation li {
  display: inline-block;
}

.navigation a {
  font-size: 15px;
  text-decoration: none;
  color: black;
  display: block;
  background-color: #12a3d6;
  background-color: #f4f4f4;
  padding: 35px 20px;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.search {
  position: relative;
}

.search input[type="button"] {
  visibility: hidden;
}

.search label {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #f98561 url("../img/checkmark_icon.png") center no-repeat;
  border-radius: 20px;
  cursor: pointer;
}

.slider {
  background-color: #f4f4f4;
  position: relative;
}

.slider img{
  display: block;
  margin: 0 auto;
  box-shadow: 5px 0 4px -2px black,
              -5px 0 4px -2px black;
}

.container {
  position: absolute;
  visibility: hidden;
  border: 2px solid cyan;
  top: 0;
  right: 0;
}

.container ul {
  position: absolute;
  list-style: none;
  border: 2px solid red;
  right: 250px;
  top: 400px;
}

.container li {
  display: inline-block;
}

.container input {
  visibility: hidden;
}

.container label {
  visibility: visible;
  width: 15px;
  height: 45px;
  background-color: #adadad;
  border-radius: 50%;
}

.container .active_label {
  background-color: #2190c1;
  border: 5px solid #f98561;
  width: 15px;
  height: 15px;
}

.active_item {
  width: 650px;
  visibility: visible;
  animation-name: slide;
  animation-duration: .5s;
  animation-iteration-count: 1;
  position: absolute;
  top: 80px;
  right: 650px;
  margin-right: -300px;
}

.service {
  background-color: #f4f4f4;
}

.service_item {
  float: left;
  width: 160px;
  margin: 40px;
  margin-left: 0;
  margin-right: 100px;
}

.service_item img {
  display: block;
  margin: 0 auto;
}

.service_item:last-child {
  margin-right: 0;
}

.portfolio {
  margin: 0 auto;
  width: 1280px;
  background-color: #2e3e4f;
  padding-top: 50px;
}

.portfolio>h3 {

}

.portfolio>a {
  display: block;
  text-align: right;
  margin-bottom: 60px;
}

.portfolio figure {
  width: 265px;
  height: 205px;
  padding: 10px;
  margin: 0;
}

.portfolio_item {
  width: 285px;
  float: left;
  margin-right: 40px;
  margin-bottom: 50px;
}

.portfolio_item:last-child {
  margin-right: 0;
}

.portfolio_preview {
  background: #bebebe url("../img/camera_icon.png") center no-repeat;
  width: 255px;
  height: 195px;
  margin: auto;
}

.testimonials_container {
  position: absolute;
  visibility: hidden;
}

.testimonials_active {
  position: absolute;
  visibility: visible;
}

.testimonials input {
  visibility: visible;
}

.lbl_container {
  position: absolute;
  bottom: 20px;
}

.testimonials label {
  margin-right: 20px;
  visibility: visible;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: red;
}

.active_testi_label {
  background: cyan;
}

@keyframes slide {
  from {
    right: 0px;
  }
  10% {
    right: 100px;
  }
  20% {
    right: 200px;
  }

  40% {
    right: 300px;
  }
  60% {
    right: 400px;
  }
  80% {
    right: 500px;
  }
  to {
    right: 600px;
  }
}
